// Beetroot and Darkbeet colors 
@color-main:                #50162d; 
@color-link:                #bd139a;
@color-success:             #50162d;
@color-warning:             #F6609D; 
@color-link-secondary:      lighten(@color-font, 60%);
@color-layout-header-background:    #50162d;

// Task menu
@color-taskmenu-background:                     #50162d; 
@color-taskmenu-button-action:                  #E0548D;
@color-taskmenu-button-special:                 @color-taskmenu-button;
@color-taskmenu-button-special-background:      @color-taskmenu-background;
@color-taskmenu-button-action-hover:            #fff; 
@color-taskmenu-button-special-hover:           lighten(@color-taskmenu-button-special, 10%);
// @color-taskmenu-button-special-background-hover:lighten(@color-taskmenu-button-special-background, 10%);

// Toolbar
@color-toolbar-button-background-hover: lighten(@color-layout-header-background, 10%);
@color-searchbar-icon-active:           green;

// Popovers (menus)
@color-popover-header:              @color-black-shade-text;
@color-popover-header-background:   transparent;

//Forms
@color-btn-secondary-background:    lighten(@color-main, 10%);

// Dark mode colors
@color-dark-main:           darken(@color-main, 10%);
@color-dark-background:     #252121;
@color-dark-font:           #DDDDDD;
@color-dark-border:         #292525;
@color-dark-taskmenu-button-action:          #4F8F93;
@color-dark-taskmenu-button-action-hover:    @color-dark-font;

@color-dark-list-selected:              #FFFFFF; 
@color-dark-list-selected-background:   #50162D;
@color-dark-list-droptarget-background: #353131;
@color-dark-list-border:                #353131;
@color-dark-input-border:               #471328;
@color-dark-input-addon-background:     #292525;
@color-dark-popover-background:         #201c1c;
@color-dark-popover-border:             #50162d;


