// Darkbeet modifications based on elastic skin
@import "_darkc";

html.dark-mode {

    // Have a black background when writing an email
    // .tox {
    //     .tox-edit-area__iframe {
    //         background-color: @color-dark-popover-background;
    //         color: white;
    //     }  
    // }
    
    #taskmenu {
        a {
            &.selected {
                color: white;
                background-color: @color-dark-list-selected-background;
            }
        }
        .action-buttons a {
            color: white;
        }
    }
    .menu
        a.compose::before {
            color: white;
        }
    #layout > div > .header,
    #layout-menu {
        background-color: @color-dark-popover-background;
        border: unset;
    }

    // The two following are to get lighter borders when composing message (to: and subject:), when focus
    .custom-file-label:focus:not(.is-invalid), .form-control:focus:not(.is-invalid) {
        border-color: #741d3f;
    }

    .recipient-input.focus {
        border-color: #911648 !important;
    }
    
    // Get dotted line around attachment brighter
    .file-upload {
        border: .2rem dashed @color-main;
    }
}
