//Modification for Beetroot based on Elastic skin
//
@import "_colors";

#layout > div > .header {
    color: #fff;
}

.menu.toolbar a {
    color: #fff;
}


#layout > div > .header a.button {
    color: #fff;
}

.popover .menu li a {
    color: #2c363a;
}


/* login page */

& when (@dark-mode-enabled = true) {
    @import "_dark";
}
/*** Fonts ***/

@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/la-solid-900.woff2") format('woff2'),
       url("../fonts/la-solid-900.woff") format('woff');
}

@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/la-regular-400.woff2") format('woff2'),
       url("../fonts/la-regular-400.woff") format('woff');
}
